@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800');
// Body- Poppins 400 and 600
// Heading - Poppins 800
$body: 'Poppins';
$heading: 'Poppins';
$body-w1: 400;
$body-w2: 600;
$heading-w1: 800;
$heading-w2: 700;