@import 'colors';
@import 'fonts';
.small-menu{
    margin: 10px 15vw;
    min-height: 40vh;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;justify-content: center;
    .item-holder{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        .menu-item{
            flex: 1;
            background-color: $small-menu-color;
            margin: 10px;
            padding: 10px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                color: #faf0f0;
            }
            p{
                color: #332e2e;
                font-weight: $body-w2;
            }
            img{
                width: 80%;
                margin: auto;
                border-radius: 15px;
            }
        }
    }
    .link-btn{
        background-color: $on-nav-color;
        padding: 10px 20px;
        margin: 10px auto;
        color: inherit;
        font-weight: $body-w2;
        text-decoration: none;
        width: fit-content;
        border-radius: 100px;
    }
}
.order-online{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $nav-color;
}
