@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

h2 {
  font-weight: 600;
}

.bg {
  background-image: url("../assets/cafe-bg-cofee.png");
  z-index: -1;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

body h1 {
  font-family: "Poppins";
  font-weight: 700;
}

body h2 {
  font-family: "Poppins";
  font-weight: 600;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 20px;
  width: 100%;
  z-index: 1;
  background-color: rgba(65, 60, 60, 0.9);
}

.navigation .nav-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #FF5454;
}

.navigation .nav-big .cafe-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.navigation .nav-big .cafe-name h1 {
  font-weight: 800;
}

@media only screen and (max-width: 750px) {
  .navigation .nav-big .cafe-name h1 {
    font-size: 20px;
  }
}

.navigation .nav-big .pages {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .nav-big .pages li {
  margin: 10px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.navigation .nav-big .pages li a {
  color: inherit;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .navigation .nav-big .pages {
    visibility: hidden;
    width: 0;
  }
}

.navigation .nav-big .li-login {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin: 0px 10px;
  padding-top: 10px;
}

.navigation .nav-big .li-login a {
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 15px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 100px;
  background-color: #FF5454;
  font-size: 18px;
}

.navigation .nav-big .li-cart {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin: 0px 10px;
  padding-top: 10px;
}

.navigation .nav-big .li-cart a {
  cursor: pointer;
  margin: auto;
  font-weight: 600;
  padding: 5px 15px;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 100px;
  background-color: #FF5454;
  font-size: 18px;
}

.navigation .nav-big .li-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  visibility: hidden;
  width: 0;
  margin: 0px 0px 0px 10px;
}

.navigation .nav-big .li-menu button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.navigation .nav-big .li-menu button img {
  width: 55px;
}

@media only screen and (max-width: 750px) {
  .navigation .nav-big .li-menu {
    visibility: visible;
    width: auto;
  }
}

.navigation .nav-small {
  visibility: hidden;
  height: 0;
  color: #FF5454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation .nav-small li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 600;
  text-align: center;
  font-size: 22px;
}

.navigation .nav-small li a {
  color: inherit;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.navigation .visible {
  visibility: visible;
  height: auto;
}

header {
  min-height: 50vh;
  background: #111010bb;
  margin: 10px 20vw;
  padding: 15px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h2 {
  opacity: 0.6;
}

@media only screen and (max-width: 750px) {
  header {
    margin: 10px 20px;
  }
}

.small-menu {
  margin: 10px 15vw;
  min-height: 40vh;
  padding: 15px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-menu .item-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.small-menu .item-holder .menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ebf3fd73;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-menu .item-holder .menu-item h2 {
  color: #faf0f0;
}

.small-menu .item-holder .menu-item p {
  color: #332e2e;
  font-weight: 600;
}

.small-menu .item-holder .menu-item img {
  width: 80%;
  margin: auto;
  border-radius: 15px;
}

.small-menu .link-btn {
  background-color: #FF5454;
  padding: 10px 20px;
  margin: 10px auto;
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100px;
}

.order-online {
  width: 100%;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(65, 60, 60, 0.9);
}

footer {
  width: 100%;
  color: #FF5454;
  font-weight: 600;
  padding-top: 20px;
  margin: auto;
  text-align: center;
  min-height: 10vh;
  vertical-align: baseline;
  background-color: rgba(65, 60, 60, 0.9);
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6347;
  z-index: 999999;
}

.spinner-wrapper .spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  position: absolute;
  top: 48%;
  left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/*# sourceMappingURL=index.css.map */